.about {
    background-color:  rgb(220, 13, 13);
    display: flex;
    align-items: center;
    box-shadow: gold;
    text-shadow: 5px 7px 10px rgba(54, 14, 231, 0.971);
    justify-content: center;
    height: 8vh;
    border-radius: 10px;
    
    
}


/* .about-border {
    border: 10 px solid #FDB813;
    border-radius: 20px;
    box-shadow: 0 0 10px ppx #FDB813;
} */