.tickets {

  /* flex-direction: column; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('file:///Users/nelsonlumpkin/Downloads/zodiac-4367961.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

  display: flex;
  flex-wrap: wrap;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

 /* body{
  flex-direction: column; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('file:///Users/nelsonlumpkin/Downloads/zodiac-4367961.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

} */
.ticket {
  background-color: rgb(250, 249, 171);
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: solid black;
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.ticket__delete {


  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: solid black;
  margin-top: 20px;
  text-shadow: 1px 1px 7px rgba(46, 0, 252, 0.971);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ticket__finish {


  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: solid black;
  margin-top: 20px;
  text-shadow: 1px 1px 7px rgba(46, 0, 252, 0.971);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ticket__footer {

  display: flex;

  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 7px rgba(46, 0, 252, 0.971);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.ticket__header {
  /* font-size: large;
    padding: 0 0 1rem 0; */

  background-color: rgb(0, 0, 0);
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 7px rgba(46, 0, 252, 0.971);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

h1,
h2,
h3,
.label,
.div,
.form-group,
.button,
main {
  background-color:  rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-shadow: 5px 7px 10px rgba(47, 0, 255, 0.971);
  justify-content: center;
  height: 8vh;
  border-radius: 10px;


}


/* body {
    background-image: url('file:///Users/nelsonlumpkin/Downloads/zodiac-4367961.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      display: flex;
      flex-wrap: wrap;
      background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  } */